body {
  font-family: "Roboto", "Raleway", sans-serif;
}

.header-container {
  background-color: #ffffff;
  height: 72px;
  width: 1440px;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:active {
  color: #434455;
}

.main-section {
  background-color: #2e2f42;
  width: 1440px;
  height: 660px;
}

.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  padding-top: 188px;
  padding-bottom: 48px;
}
.button-order-service {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  padding-top: 0px;
  text-align: center;
}

.button-order-service:hover,
.button-order-service:active {
  color: #4d5ae5;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.our-team {
  background-color: #f4f4fd;
  height: 732px;
  width: 1440px;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio {
  background-color: #e7e9fc;
  width: 1128px;
  height: 1000px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-service {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}

.portfolio-service-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}

.portfolio-picture {
  width: 360px;
  height: 300px;
}
